{% extends "layout.html" %}

{% block heading %}
    Show Found Books Page
{% endblock %}

{% block card %}
    <button><a href="{{ url_for('viewUserInfo') }}">UserInfo</a></button>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
{% endblock %}

{% block body %}
    <form action="{{ url_for('findBooks') }}" method="post">
        <div class="form-check">
            {% for row in books %}
                <div class="form-row align-items-start">
                    <div class="col-md-6">
                        {% if loop.first %}
                            <input class="form-check-input" type="radio" name="bookChoice" id="{{ row.isbn }}" value="{{ row.bookid }}" checked>
                            <label class="form-check-label" for="{{ row.isbn }}">
                                ISBN: {{ row.isbn }} for {{ row.title }} by {{ row.author }} 
                            </label>
                        {% else %}
                            <input class="form-check-input" type="radio" name="bookChoice" id="{{ row.isbn }}" value="{{ row.bookid }}">
                            <label class="form-check-label" for="{{ row.isbn }}">
                                ISBN: {{ row.isbn }} for {{ row.title }} by {{ row.author }} 
                            </label>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-check">
            <button>View Selected Book Now</a></button>
        </div>
    </form>    
{% endblock %}
