{% extends "layout.html" %}

{% block heading %}
    Login Page
{% endblock %}

{% block body %}
    <form action="{{ url_for('login') }}" method="post">
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p>Username: </p>            
            </div>
            <div class="col-md-10">
                <input type="text" name="username" placeholder="Enter Username" required>           
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p>Password: </p>            
            </div>
            <div class="col-md-10">
                <input type="password" name="password" placeholder="Enter Password" required>   
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <button>Login Now</button>
            </div>
            <div class="col-md-10">
                <p>Not Registered? <a href="{{ url_for('registration') }}">Register Here</a></p>
            </div>
        </div>
    </form>
{% endblock %}
