{% extends "layout.html" %}

{% block heading %}
    Review for Given Book
{% endblock %}

{% block card %}
    <button><a href="{{ url_for('viewUserInfo') }}">UserInfo</a></button>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
{% endblock %}

{% block body %}
    <form accept-charset="UTF-8" action="{{ url_for('review', book_id=bookid) }}" method="post">
        <div class="form-row align-items-start">
            <div class="col-md-12">
                <p>
                    Please give the book a rating and leave your comments below:
                </p>            
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p>Rating: </p>            
            </div>
            <div class="col-md-3">
                <p>Select Rating (1 - 5)</p>   
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="rating">
                        {% for i in ratings %}
                            {% if loop.first %}
                                <option value="{{ loop.index }}" selected>{{ loop.index }}: {{ i }}</option>
                            {% else %}
                                <option value="{{ loop.index }}">{{ loop.index }}: {{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="comment">Comments (limit 300 characters)</label>
                    <textarea class="form-control" maxlength=300 rows="5" id="comment" name="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-3">
                <button>Submit Comment Now</a></button>
            </div>
            <div class="col-md-9">
                <button><a href="{{ url_for('searchBooks') }}">Go Back to Book Search Page (cancel)</a></button>
            </div>
        </div>
    </form>
{% endblock %}
