{% extends "layout.html" %}

{% block heading %}
    Search for Books Page
{% endblock %}

{% block card %}
    <button><a href="{{ url_for('viewUserInfo') }}">UserInfo</a></button>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
{% endblock %}

{% block body %}
    <form action="{{ url_for('searchBooks') }}" method="post">
    
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p>ISBN: </p>            
            </div>
            <div class="col-md-10">
                <input type="text" name="isbn" placeholder="Enter ISBN">            
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p">Book Title: </p>            
            </div>
            <div class="col-md-10">
                <input type="text" name="title" placeholder="Enter Title">   
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p>Book Author: </p>            
            </div>
            <div class="col-md-10">
                <input type="text" name="author" placeholder="Enter Author">   
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-6">
                <button>Find Book Now</a></button>
            </div>
        </div>
    </form>
{% endblock %}
