{% extends "layout.html" %}

{% block heading %}
    Sign up here to Read and Review Exciting Books!
{% endblock %}

{% block card %}
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
{% endblock %}

{% block body %}
    <form action="{{ url_for('updatePswd') }}" method="post">
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p class="label">Username: </p>            
            </div>
            <div class="col-md-4">
                {{ user.username }}
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <p class="label">Reset Password: </p>            
            </div>
        </div>
        <div class="form-row align-items-start">        
            <div class="col-md-3">
                <input type="password" name="oldPassword" placeholder="oldPassword" required>   
            </div>
        </div>
        <div class="form-row align-items-start">        
            <div class="col-md-3">
                <input type="password" name="newPassword1" placeholder="newPassword1" required>   
            </div>
        </div>
        <div class="form-row align-items-start">        
            <div class="col-md-3">
                <input type="password" name="newPassword2" placeholder="newPassword2" required>   
            </div>
        </div>
        <div class="form-row align-items-start">
            <div class="col-md-2">
                <button>Update Now</button>
            </div>
            <div class="col-md-10">
                <a href="{{ url_for('viewUserInfo') }}">Go Back to User Info Page (cancel)</a>
            </div>
        </div>
    </form>
{% endblock %}
