{% extends "layout.html" %}

{% block heading %}
    User Information Page
{% endblock %}

{% block card %}
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
{% endblock %}

{% block body %}
    <form class="userForm">
        <div class="form-row align-items-center">
            <div class="col-md-2">
                <p>First Name: </p>            
            </div>
            <div class="col-md-10">
                {{ Users[2] }}         
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-md-2">
                <p>Last Name: </p>            
            </div>
            <div class="col-md-10">
                {{ Users[3] }}
            </div>
        </div>        
        <div class="form-row align-items-center">
            <div class="col-md-2">
                <p>Username: </p>            
            </div>
            <div class="col-md-10">
                {{ Users[0] }}
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-md-2">
                <p>Password: </p>            
            </div>
            <div class="col-md-10">
                {{ Users[1] }}      
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-md-6">
                <button><a href="{{ url_for('searchBooks') }}">Search for Book Here</a></button>
            </div>
        </div>
    </form>
{% endblock %}
